* {
  margin: 0;
  padding: 0;
}

$w: 200px;
$h: 100px;

#container {
  height: $h;
  width: $w;
  position: fixed;
  bottom: 0;
  left: -$w;
  background-color: #ff6666;
}

#btn {
  height: 50px;
  width: 20px;
  position: absolute;
  left: $w;
  top: ($h - 50) / 2;
  background-color: #ddd;
}

#iconContainer {
  width: 250px;
  font-size: 14px;
  margin: 100px auto;
  ul li {
    display: block;
    float: left;
    border: 1px solid #eee;
    position: relative;
    padding: 20px 15px 5px 15px;
    &:hover {
      border: 1px solid #f40;
    }
    p {
      color: #999;
      margin-top: 24px;
    }
    p:hover {
      color: #f40;
    }
    span {
      color: #f40;
      top: 20px;
      left: 50%;
      margin-left: -10px;
      position: absolute;
    }
  }
}
