<!DOCTYPE html>
<html>
  <head>
    <title>animate div</title>
    <%= require('html!tmpl/inc-meta.html') %>
  </head>
  <body>
    <div id="container">
      <span id="btn"></span>
    </div>

    <div id="iconContainer">
      <ul>
        <li>
          <span><img src="<%= require('./001.jpg') %>" alt=""></span>
          <p>邮件</p>
        </li>
        <li>
          <span><img src="<%= require('./002.jpg') %>" alt=""></span>
          <p>工具</p>
        </li>
        <li>
          <span><img src="<%= require('./003.jpg') %>" alt=""></span>
          <p>照片</p>
        </li>
        <li>
          <span><img src="<%= require('./004.jpg') %>" alt=""></span>
          <p>上传</p>
        </li>
      </ul>
    </div>

    <%= require('html!tmpl/inc-footer.html') %>
    <!-- built files will be auto injected -->
  </body>
</html>
